

.sidenav {
  width: 145px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #39515a;
  overflow-x: hidden;
  padding: 8px 0;
  margin-top: 65px;
  border-radius: 8px; 
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #c1c3c4;
  display: block;
  border-radius: 8px;
}

.sidenav a:first-child {
  background-color: #353535; /* Different background color */
  color: white; /* Change text color for contrast */
}

.sidenav a:hover {
  color: #67b1ee;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-Height: 600px;
  position: relative;
  overflow-y:auto;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.scrollable-content {
  overflow-y: auto;
  max-height: 600x; /* adjust the height as needed */
  padding: 20px;
  background-color: #FFFF; /* optional */
}